:root {
  --color-primary: #4a4e69;
  --color-secondary: #9a8c98;
  --color-light: #f2e9e4;
  --color-optional: #c9ada7;
  --color-dark: #22223b;
  --font-main: sans-serif;
}

section {
  min-height: 90vh;
  width: 100vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

section.show {
  opacity: 1;
  transform: translateY(0);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

section:nth-child(odd) {
  background-color: var(--color-light);
}
section:nth-child(even) {
  background-color: var(--color-primary);
}

/* odd section texts */
section:nth-child(odd) h1 {
  color: var(--color-primary);
}

section:nth-child(odd) h2 {
  color: rgba(0, 0, 0, 0.65);
}

section:nth-child(odd) p {
  color: var(--color-dark);
}

/* even section texts */
section:nth-child(even) h1 {
  color: var(--color-light);
}
section:nth-child(even) h2 {
  color: rgba(255, 255, 255, 0.78);
}
section:nth-child(even) p {
  color: var(--color-light);
}

/* button in even section  */
section:nth-child(even) button {
  background-color: var(--color-light);
  color: var(--color-primary);
  border-color: var(--color-primary);
  transition: background-color 0.25s ease, transform 0.25s ease;
}

section:nth-child(even) button:hover {
  background-color: #f2e9e4e7;
  transform: scale(1.05);
}

/* styling hero image */
.heroImg {
  width: 40%;

  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.11);
}

#hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  padding: 1rem;
  text-align: center;
}

/* simple media query for mobile */
@media (max-width: 768px) {
  #hero {
    flex-direction: column;
  }

  .heroImg {
    width: 60%;
    height: auto;
    margin-bottom: 1rem;
  }

  .heroText h1,
  .heroText h2,
  .heroText p {
    text-align: center;
  }
}
